.team_box{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.team_case{
    width: 60%;
}

.team_title{
font-weight: normal;
font-size: 60px;
line-height: 90px;
color: getColor('primaryText');
}

.team_text{
margin-bottom: 96px;
margin-top: 17px;
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: getColor('secondText');
}

// .team_link{
//      display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 299px;
//   height: 79px;
//   background: getColor('accentBtn');
// border-radius: 2000px;
//   transform: scale(1);
//   transition-duration: 300ms;
// // display: flex;
// // align-items: center;
// // justify-content: center;
// font-weight: normal;
// font-size: 22px;
// line-height: 33px;
// text-align: center
// }

.team_list{
      margin-top: 20px;
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: calc(100vw - 100px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

}

.team_item{
 position: relative;
}

.team_item img{
overflow: hidden;
border-radius: 53px;

}
.team_overlay{
    position: absolute;
    bottom: -10%;
    left: 10%;
    width: 272px;
    height: 158px;
text-align: center;
background: rgba(255, 255, 255, 0.8);
border-radius: 30px;

padding: 16px 32px;
}
.team_subtitle{
margin-top: 4px;    
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: getColor('primaryText');
}

.team_desc{
margin-top: 4px;  
margin-bottom: 16px;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: getColor('accentColor');
}

.social_list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}