.graphic{
padding-top: 100px;
 background-image: url(../images/unsplash-graphic/1.png);
 background-repeat: no-repeat;
 background-position-x: right;
}

.graphic_title{
    font-weight: normal;
font-size: 60px;
line-height: 90px;
color: getColor('primaryText');
// margin-left: 208px;
}

.graphic_desc{
font-weight: normal;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: getColor('secondText');
margin-top: 18px;
margin-bottom: 53px;
}

.graphic_list{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
// .graphic_item:not(:last-child){
//     margin-right: 40px;
// }

.graphic_item{
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
}