<section class="dowload_section">
    <div class="dowload_container container">
        <h1 class="dowload_title">Download the future</h1>
        <p class="dowload_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.</p>
        <form class="footer_form">
            <input class="dowload_input" type="text" placeholder="Input text placeholder">
          <button class="dowload_btn" type="submit" data-modal-open>SIGN UP  
              <svg class='footer_svg' width='12.34' height='20'>
            <use href= '/images/download-the-future/symbol-defs.svg#icon-flesh'></use>
        </svg>
        </button>
        </form>
        <ul class="dowload_list">
            <li class="dowload_item">
                <svg width='35.5' height='35.5'>
                    <use href= '/images/download-the-future/symbol-defs2.svg#icon-subtract1'></use>
                </svg>
            </li>
            <li class="dowload_item">
                <svg width='35.5' height='35.5'>
                    <use href= '/images/download-the-future/symbol-defs2.svg#icon-Subtract'></use>
                </svg>
            </li>
            <li class="dowload_item">
                <svg width='35.5' height='35.5'>
                    <use href= '/images/download-the-future/symbol-defs3.svg#icon-Subtract3'></use>
                </svg>
            </li>
        </ul>
    </div>
</section>