<section class="footer_section">
    <div class="container">
        <div class="footer_box ">
            <div class="footer_containers">
              <div class="footer_box_lists">
                  <h2 class="footer_item">Product</h2>
                  <ul class="footer_list">
                      <li class="footer_list_item">How it works</li>
                      <li class="footer_list_item">Features</li>
                      <li class="footer_list_item">Pricing</li>
                      <li class="footer_list_item">Testimonials</li>
                  </ul>
              </div>
              <div class="footer_box_lists">
                  <h2 class="footer_item">About form</h2>
                  <ul class="footer_list">
                      <li class="footer_list_item">Our team</li>
                      <li class="footer_list_item">Careers</li>
                      <li class="footer_list_item">Press</li>
                      <li class="footer_list_item">Stores</li>
                  </ul>
              </div>
              <div class="footer_box_lists">
                  <h2 class="footer_item">Connect</h2>
                  <ul class="footer_list">
                      <li class="footer_list_item">Facebook</li>
                      <li class="footer_list_item">Twitter</li>
                      <li class="footer_list_item">Instagram</li>
                      <li class="footer_list_item">Linkedin</li>
                  </ul>
              </div>
              <div class="footer_box_lists">
                  <h2 class="footer_item">Contact</h2>
                  <ul class="footer_list">
                      <li class="footer_list_item">info@gmail.com</li>
                      <li class="footer_list_item">000-000-0000</li>
                      <li class="footer_list_item">0000 Willa River Suite 000</li>
                  </ul>
              </div>
            </div>
              <div>
                  <h2 class="footer_nav_item">Newsletter</h2>
                  <p class="footer_nav_desc">Join our weekly maiiling list</p>
                  <p class="footer_input_name">Name *</p>
                  <form class="footer_form">
                      <input class="footer_input" type="text" placeholder="Input text placeholder">
                    <button class="btn-header header__button header__button--close hero-button" type="submit" data-modal-open>Sign Up  
                        <svg width='24' height='24'>
                      <use href= '/images/svg/sprite_svg.svg#icon-flash'></use>
                  </svg>
                  </button>
                  </form>
              
              </div>
          </div>
          <div class="footer_line"></div>
          <div class="footer_adress">
              <ul class="footer_adress_list">
                  <li class="item_footer">Terms and conditions</li>
                  <li class="item_footer">Legal</li>
                  <li class="item_footer">Pattents</li>
              </ul>
              <p class="desc_footer">
                  <svg width='8.97' height='8.8'>
                      <use width='8.97' height='8.8' href='/images/footer/symbol-defs.svg#icon-heart'></use>
                  </svg>
                Designed to be loved &copy 2008-2021
              </p>
          </div>
    </div>
</section>