<section class="header-container">
    <div class="container">
<header class="header">
    <nav class="nav-header">
        <svg class="logo" width='130' height='40'>
            <use href= '/images/svg/sprite_svg.svg#icon-logo-var'></use>
        </svg>
        <ul class="nav-header_list">
            <li class="nav-header_item">How it Works</li>
            <li class="nav-header_item">Features</li>
            <li class="nav-header_item">Pricing</li>
            <li class="nav-header_item">Help</li>
            <li class="nav-header_item">Blog</li>
            <li class="nav-header_item">Log In</li>
        </ul>
        <button class="btn-header header__button header__button--close hero-button" type="button" data-modal-open>Sign Up  
              <svg width='24' height='24'>
            <use href= '/images/svg/sprite_svg.svg#icon-flash'></use>
        </svg>
        </button>
    </nav>
</header>
<div class="hero_container">
    <div class="hero_box">
    <h1 class="hero_title">Listen To The <br> Beat Of The Web</h1>
<p class="hero_desc">First template from series templates to design web <br> pages, using components system</p>
<a href="" class="hero_link">
    <div class="hero_link">
         Let’s Go
        <svg width='36' height='36'>
            <use href= '/images/svg/sprite_svg.svg#icon-get_file'></use>
        </svg> 
    </div>
    
</a>
</div>

<div class="circle">
    <div class="hero_img">
     <img src="/images/subtract.png" alt="play" width="134" height="134">
</div>
</div>
</div>
<h2>How it works</h2>
<ul class="hero_list">
    <li class="hero_item">
         <svg width='76' height='88'>
            <use href= '/images/svg/sprite_svg.svg#icon-11'></use>
        </svg> 
        <h3 class="hero_subtitle">Read it</h3>
        <p class="hero_text">Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
    </li>
    <li class="hero_item">
         <svg width='76' height='88'>
            <use href= '/images/svg/sprite_svg.svg#icon-21'></use>
        </svg> 
        <h3 class="hero_subtitle">Apply</h3>
        <p class="hero_text">Orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  magna dolore.</p>
    </li>
    <li class="hero_item">
         <svg width='76' height='88'>
            <use href= '/images/svg/sprite_svg.svg#icon-31'></use>
        </svg> 
        <h3 class="hero_subtitle">Multiply</h3>
        <p class="hero_text">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  orem.</p>
    </li>
</ul>
        

    </div>

</section>
<!-- /src/images/svg/sprite_svg.svg#icon-logo-var -->
