<section>
    <div class="container">
  <div class="team_box">
       <div class="team_case">
              <h2 class="team_title">Project's team</h2>
              <p class="team_text">Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam lorem ipsum dolor.Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
        </div>

        <a href="" class="hero_link">

    <div class="hero_link">
         Join our team
        <svg width='36' height='36'>
            <use href= '/images/svg/sprite_svg.svg#icon-add_resume'></use>
        </svg> 
    </div>
    </a>
  </div>
       
        <ul class="team_list">
            <li class="team_item">
                <img src="./images/team/Img-pieter.jpg" alt="Pieter">
                <div class="team_overlay">
                    <h4 class="team_subtitle">Pieter Omvlee</h4>
                    <p class="team_desc">Designer</p>
                     <ul class="social_list">
                        <li class="social_item instagram">
                            <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-instagram'></use>
                           </svg>
                        </li>
                        <li class="social_item telegram">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-telegram'></use>
                           </svg>
                        </li>
                        <li class="social_item linkedin">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-linkedin'></use>
                           </svg>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team_item">
                <img src="./images/team/Img-loyd.jpg" alt="Loyd">
                <div class="team_overlay">
                    <h4 class="team_subtitle">Loyd Maywe</h4>
                    <p class="team_desc">Php developer</p>
                   <ul class="social_list">
                        <li class="social_item instagram">
                            <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-instagram'></use>
                           </svg>
                        </li>
                        <li class="social_item telegram">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-telegram'></use>
                           </svg>
                        </li>
                        <li class="social_item linkedin">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-linkedin'></use>
                           </svg>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team_item">
                <img src="./images/team/Img-latte.jpg" alt="Latte">
                <div class="team_overlay">
                    <h4 class="team_subtitle">Latte Macchiato</h4>
                    <p class="team_desc">CEO Company</p>
                     <ul class="social_list">
                        <li class="social_item instagram">
                            <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-instagram'></use>
                           </svg>
                        </li>
                        <li class="social_item telegram">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-telegram'></use>
                           </svg>
                        </li>
                        <li class="social_item linkedin">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-linkedin'></use>
                           </svg>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="team_item">
                <img src="./images/team/Img-cheese.jpg" alt="Cheese">
                <div class="team_overlay">
                    <h4 class="team_subtitle">Cheese Cake</h4>
                    <p class="team_desc">Art Director</p>
                     <ul class="social_list">
                        <li class="social_item instagram">
                            <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-instagram'></use>
                           </svg>
                        </li>
                        <li class="social_item telegram">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-telegram'></use>
                           </svg>
                        </li>
                        <li class="social_item linkedin">
                             <svg width='46' height='46'>
                               <use href= '/images/svg/sprite_svg.svg#icon-linkedin'></use>
                           </svg>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</section>