<section class="product_section">
    <div class=" container">
        <div class="slider">
            <div class="slider_item">
                <img src="./images/slider/fill.jpg" alt="">
            </div>
            <div class="slider_item">
                <img src="./images/slider/2.jpg" alt="">
            </div>
            <div class="slider_item">
                <img src="./images/slider/3.jpg" alt="">
            </div>
        </div>
        <div class="product_slider_card">
            <div class="product_slider">
                <h2 class="product_title">Enjoy this product</h2>
                <p class="product_text">This project required a huge amount of hours but  sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim.</p>
            </div>
        </div>
    </div>
   
</section>