<section>
    <div class="container container-speed-up">
        <h2 class="speed-up_title">Speed up your design process</h2>
        <ul class="speed-up_list">
            <li class="speed-up_item">

                <div class="speed-up_svg">
                  <svg width='116' height='116'>
                    <use href= '/images/svg/sprite_svg.svg#icon-1'></use>
                  </svg>
                </div>
             
              <div class="speed-up_box">
                <h3 class="speed-up_subtitle speed-up_subtitle--yellow">Auto Layout </h3>
                <p class="speed-up_desc">Sed do eiusmod tempor incididunt ut consectetur adipisicing elit,do eiusmod tempor incididunt ut labore et dolore</p>
              </div>
                
            </li>

            <li class="speed-up_item">

                 <div class="speed-up_svg">
                     <svg width='116' height='116'>
                       <use href= '/images/svg/sprite_svg.svg#icon-2'></use>
                     </svg>
                 </div>
               
               <div class="speed-up_box">
                <h3 class="speed-up_subtitle speed-up_subtitle--red">Variants</h3>
                <p class="speed-up_desc">Rorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
               </div>
                
            </li>

             <li class="speed-up_item">

                 <div class="speed-up_svg">
                     <svg width='116' height='116'>
                       <use href= '/images/svg/sprite_svg.svg#icon-3'></use>
                     </svg>
                 </div>
               
               <div class="speed-up_box">
                   <h3 class="speed-up_subtitle speed-up_subtitle--purple">Components</h3>
                   <p class="speed-up_desc">Dor sum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore ma iusmod</p>
               </div>
           
            </li>
             <li class="speed-up_item">

                 <div class="speed-up_svg">
                    <svg width='116' height='116'>
                     <use href= '/images/svg/sprite_svg.svg#icon-4'></use>
                   </svg>
                 </div>
              

              <div class="speed-up_box">
                <h3 class="speed-up_subtitle speed-up_subtitle--blue">Atomic Design</h3>
                <p class="speed-up_desc">Adipisicing elit, orem ipsum dolor sit amet, consectetur sed do eiusmod tempor incididunt ut labore et dolore magna </p>
              </div>
                
            </li>
             <li class="speed-up_item">

                 <div class="speed-up_svg">
                    <svg width='116' height='116'>
                      <use href= '/images/svg/sprite_svg.svg#icon-5'></use>
                    </svg>
                 </div>
            

              <div class="speed-up_box">
                <h3 class="speed-up_subtitle speed-up_subtitle--green">Animated</h3>
                <p class="speed-up_desc">Morem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
              </div>
                
            </li>

             <li class="speed-up_item">

            <div class="speed-up_svg">
                    <svg width='116' height='116'>
                     <use href= '/images/svg/sprite_svg.svg#icon-6'></use>
                    </svg>
            </div>

            <div class="speed-up_box">
                <h3 class="speed-up_subtitle speed-up_subtitle--violet">Responsive</h3>
                <p class="speed-up_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>

            </div>
            </li>
        </ul>
    </div>
</section>