<section class="graphic">
    <div class="graphic-container">
        <div class="container">
          <h2 class="graphic_title">Unsplash graphic</h2>
          <p class="graphic_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> labore et dolore magna aliquat enim ad minim.</p>

        </div>
        <ul class="graphic_list">
            <li class="graphic_item"><img src="./images/unsplash-graphic/Img-fill1.jpg" alt="">
            <div class="graphic_item-box"></div>
            </li>
            <li class="graphic_item"><img src="./images/unsplash-graphic/Img-fill2.jpg" alt="">
            <div class="graphic_item-box"></div>
            </li>
            <li class="graphic_item"><img src="./images/unsplash-graphic/Img-fill3.jpg" alt="">
            <div class="graphic_item-box"></div>
            </li>
            <li class="graphic_item"><img src="./images/unsplash-graphic/Img-fill4.jpg" alt="">
            <div class="graphic_item-box"></div>
            </li>
            <li class="graphic_item"><img src="./images/unsplash-graphic/Img-fill5.jpg" alt="">
            <div class="graphic_item-box"></div>
            </li>
        </ul>
    </div>
</section>