<section class="about_section">
    <div class = 'about_container container'>
        <h1 class = 'about_title'>Why you'll love it</h1>
    </div>
   <div class = 'about_container container'>
    
  <div class = 'about_menu'>
    <div class = 'about_box'>
        <img src="./images/why-you'll-love-it/avatar1.png" class = 'about_img' alt="CEO">
        <div>
            <h2 class = 'about_first_title'>Sean Farmer</h2>
        <h3 class = 'about_second_title'>CEO</h3>
        </div>
    </div>
    <div class="about_text">
        <p>Sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquat enim ad minim veniam lorem ipsum dolor.</p>
    </div>
  </div>
   <div class = 'about_menu'>
    <div class = 'about_box'>
        <img src="./images/why-you'll-love-it/avatar2.png" class = 'about_img' alt="Wed-designer">
        <div>
            <h2 class = 'about_first_title'>Nick Parker</h2>
        <h3 class = 'about_second_title'>Wed-designer</h3>
        </div>
    </div>
    <div class="about_text">
        <p>Orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et  magna dolore. Orem ipsum.</p>
    </div>
   </div>
   <div class = 'about_menu'>
    <div class = 'about_box'>
        <img src="./images/why-you'll-love-it/avatar3.png" class = 'about_img' alt="Project Manager">
        <div>
            <h2 class = 'about_first_title'>Mishel Latuale</h2>
        <h3 class = 'about_second_title'>Project Manager</h3>
        </div>
    </div>
    <div class="about_text">
        <p>Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ipsum dolor sit amet.</p>
    </div>
   </div>
   </div>
</section>